<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h1>
      </header>

      <main>

        <p>The world is changing exponentially, but are we designing linearly? In the age of abundant connectivity, how might we move from thinking in terms of simple objects to thinking in dynamic systems?</p>

        <p>Transdisciplinary studies on complex phenomena prompt us with the possibility that a small change in the initial design can lead to a seismic impact. </p>
        <p>How can we start designing for the outcomes that were normally considered as too complex to achieve? How can we navigate the intention, context, and outcome of emerging complex artifacts like AI, memes, deep fakes, and resistance movements?</p>




<br/><br/>

        <p><b>Update</b> - we now have a wiki: <a href="https://github.com/nitzan/complexity-design/wiki">add your own complexity resources</a></p>


	  <div id="email-list">


			<form
			  action="https://buttondown.email/api/emails/embed-subscribe/Complexity-design"
			  method="post"
			  target="popupwindow"
			  onsubmit="window.open('https://buttondown.email/Complexity-design', 'popupwindow')"
			  class="embeddable-buttondown-form"
			>

			  <input type="email" name="email" id="bd-email" placeholder="Join the mailing list">
			  <input type="hidden" value="1" name="embed"></input>
			  <input type="hidden" value="Subscribe"></input>
			</form>

</div>
      </main>
      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>

      </footer>
    </div>

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
